@import "normalize.scss";

// Variables
$color-light: #f9f9f9;
$color-dark: #2A333A;
$color-accent: #FF512F;
$color-orange: #ee7b3a;
$color-blue: #306ed5;
$color-green: #31b84b;
$color-yellow: #fad231;

$img-background: url("../img/ereelie.jpg") no-repeat;
$global-spacing: 16px;
$dimensions: 200px;

// General
body {
  color: $color-light;
  background: $color-dark;
  overflow: hidden;
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
}

h1 {
  font-weight: 700;
  font-size: 2em;
}

label {
  display: block;
}

.header {
  padding: $global-spacing*2 $global-spacing;
  text-align: center;
}

// Tabs

.tabs {
  margin-top: $global-spacing;
  margin-bottom: $global-spacing*5;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  button {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
    font-size: $global-spacing*1;
    border-radius: $global-spacing*2;
    border: 0;
    background-color: rgba($color-light, 0.1);
    color: $color-accent;
    padding: $global-spacing;
    margin: 0 $global-spacing/2;
    transition: background-color 0.2s ease-in-out;
    text-align: center;
    &:hover {
      background-color: rgba($color-light, 0.2);
    }
    &.active-tab {
      background-color: $color-accent;
      color: $color-light;
    }
    &:focus {
      outline: 3px solid lighten($color-accent, 20%);
    }
  }
}

.tabs-content {
  padding: $global-spacing;

  section {
    display: none;
    &:focus {
      outline: none;
    }
  }
}

// Grid
.grid {
  display: grid;
  grid-template-columns: 1fr 100%;
  max-width: 70%;
  margin: 0 auto;
}

// Spinny cube

.cube {
  width: $dimensions;
  height: $dimensions;
  position: relative;
  margin: 60px auto 0;
  left: -100px;
  transform-style: preserve-3d;
  transform: rotateY(0deg) translateZ(-200px);
  animation-name: rotationMainContainer;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: alternate;
}

.cube-face {
  width: $dimensions;
  height: $dimensions;
  position: absolute;
  opacity: 0.9;
  background: $img-background;
  background-size: cover;
  transform-origin: 50% 50%;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.cube-face-front{
  transform: translateZ(100px);
}

.cube-face-left{
  transform: rotateY(90deg) translateZ(100px);
}

.cube-face-back{
  transform: translateZ(-100px);
}

.cube-face-right{
  transform: rotateY(90deg) translateZ(-100px);
}

.cube-face-top{
  transform: rotateX(90deg) translateZ(-100px);
}

.cube-face-bottom{
  transform: rotateX(90deg) translateZ(100px);
}

@keyframes rotationMainContainer{
  0%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: rotateX(360deg) rotateY(-360deg) rotateZ(360deg) }
}


// Googly eyes

.googly-eyes {
  width: $dimensions;
  height: $dimensions;
  margin: 0 auto;
  position: relative;
  background: $img-background;
  background-size: cover;
  border: $global-spacing/4 solid rgba($color-light, 0.2);
  border-radius: $global-spacing/2.5;
  box-shadow: 0 0 $global-spacing rgba(0,0,0,0.5);
  transition: transform 0.2s ease-out;
  &:hover {
    transform: rotate(-3deg);
  }
  &-container {
    position: absolute;
    margin-top: 87px;
    margin-left: 107px;
  }
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: $global-spacing*1.5;
  width: $global-spacing*1.5;
  background: $color-light;
  transition: all 0.1s ease-in-out;
  &:last-child {
    margin-left: 23px;
    top: -2px;
  }
  &:after {
    position: absolute;
    bottom: 14px;
    right: 5px;
    width: 10px;
    height: 10px;
    background: $color-dark;
    border-radius: 50%;
    content: " ";
    transition: all 0.1s ease-in-out;
  }
  &-squint {
    width: $global-spacing*1.8;
    height: $global-spacing*1.8;
    background: #fff0f4;
    &:after {
      width: $global-spacing;
      height: $global-spacing;
    }
  }
}

.with-filter {
  filter: hue-rotate(-95deg);
  &:hover {
    transform: rotate(0deg);
  }
}


// Laser background
.vaporwave {
  display: none;
  width: 100%;
  height: 100%;
  background: #0f1a54;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  animation-name: moveBackground;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes moveBackground{
  0%   { width: 100%; background: #0f1a54 }
  50% { width: 110%; background: #451554 }
  100% { width: 100%; background: #0f1a54 }
}

.vaporwave:after {
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: gradient(linear, left 90%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  transform: perspective($dimensions*2) rotateX(40deg) scale(2,1) translateZ(0);
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  padding: 1px;
  -webkit-background-clip: content-box;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
  transform-origin: bottom center;
  will-change: transform;
  background-position: center bottom;
  background-size: $global-spacing*2.5 $global-spacing*2.5;
  background-image:
          linear-gradient(to right, #ef00ff 2px, transparent 2px),
          linear-gradient(to bottom, #ef00ff 1px, transparent 2px);
}


// Spinny sphere container
.sphere-container {
  margin: 0 auto;
  width: $dimensions*2;
}


// Native slider style
input[type=range] {
  -webkit-appearance: none;
  margin: $global-spacing 0 $global-spacing*2;
  width: $global-spacing*15;
  border-radius: $global-spacing/2;
}
input[type=range]:focus {
  outline: none;
  &::-webkit-slider-thumb {
    outline: 3px solid lighten($color-accent, 20%);
  }
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: $global-spacing/2;
  cursor: pointer;
  background: $color-accent;
  border-radius: $global-spacing/2;
}
input[type=range]::-webkit-slider-thumb {
  height: $global-spacing*1.5;
  width: $global-spacing*1.5;
  border-radius: $global-spacing;
  background: lighten($color-accent, 5%);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -$global-spacing/2;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: $color-accent;
}

// Footer
footer {
  text-align: center;
  padding-top: 160px;
  color: $color-light;
  opacity: .75;
  & a {
    color: $color-light;
  }
}


// Lasers

@keyframes lights-mode-1 {
  0% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-145deg);
  }
}

@keyframes lights-mode-2 {
  0% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(145deg);
  }
}

@keyframes lights-mode-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

@keyframes lights-mode-4 {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(135deg);
  }
}


.laser {
  position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    top: 63px;
    left: 120px;
    width: 0;
    height: 20px;
    border-right: 100vw solid $color-blue;
    border-top: $global-spacing solid transparent;
    border-bottom: $global-spacing solid transparent;
    border-radius: 50%;
    transform-origin: left center;
    filter: drop-shadow(10px 0 5px $color-blue);
    animation: lights-mode-1 1.5s infinite alternate linear;

  }


  &.laser-1 {
    &::before {
      border-right-color: rgba($color-green, .4);
      animation-name: lights-mode-1;
      animation-duration: 1.5s;
    }

    &::after {
      border-right-color: rgba($color-orange, .4);
      animation-name: lights-mode-2;
      animation-duration: 1.5s;
    }
  }

  &.laser-2 {
    &::before {
      border-right-color: rgba($color-yellow, .4);
      animation-name: lights-mode-3;
      animation-duration: 1.5s;
    }

    &::after {
      border-right-color: rgba($color-blue, .4);
      animation-name: lights-mode-4;
      animation-duration: 2s;
    }
  }

}


// Unicorn

@keyframes appear {
  0% {
    right: -110px;
  }
  100% {
    right: -30px;
  }
}

.unicorn {
  position: absolute;
  top: 300px;
  right: -100px;
  animation: appear .64s infinite alternate linear;
  animation-delay: 10s;
}