@import "normalize.scss";

// Variables
$color-light: #f9f9f9;
$color-dark: #2A333A;
$img-background: url("../img/ereelie.jpg") no-repeat;
$dimensions: 200px;

// General
body{
  background: $color-dark;
}

body {
  color: $color-light;
  font-family: 'Zilla Slab', serif;
  font-weight: 300;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: 700;
}

.header {
  padding: 2em 1em;
  text-align: center;
}

// Tabs

.tabs {
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  li {
    cursor: pointer;
    color: #fff;
    padding: 5px 10px;
    &.active-tab {
      background: #fafafa;
      color: black;
      &:after {
        width: 100%;
        height: 2px;
        position: absolute;
        content: "";
        bottom: -0.1em;
        left: 0;
        background: white;
      }
    }
  }
}

.tabs-content {
  padding: 20px;

  section {
    display: none;
  }
}


// Spinny cube

.cube{
  width: $dimensions;
  height: $dimensions;
  position: relative;
  margin: 0 auto;
  transform-style: preserve-3d;
  transform: rotateY(0deg) translateZ(-200px);
  animation-name: rotationMainContainer;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.cube-face{
  width: $dimensions;
  height: $dimensions;
  position: absolute;
  opacity: 0.9;
  background: $img-background;
  background-size: cover;
  transform-origin: 50% 50%;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.cube-face-front{
  transform: translateZ(100px);
}

.cube-face-left{
  transform: rotateY(90deg) translateZ(100px);
}

.cube-face-back{
  transform: translateZ(-100px);
}

.cube-face-right{
  transform: rotateY(90deg) translateZ(-100px);
}

.cube-face-top{
  transform: rotateX(90deg) translateZ(-100px);
}

.cube-face-bottom{
  transform: rotateX(90deg) translateZ(100px);
}

@keyframes rotationMainContainer{
  0%   { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  100% { transform: rotateX(360deg) rotateY(-360deg) rotateZ(360deg) }
}




// Googly eyes

.googly-eyes {
  width: $dimensions;
  height: $dimensions;
  margin: 0 auto;
  position: relative;
  background: $img-background;
  background-size: cover;
  border: 6px solid #82898e;
  border-radius: 6px;
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
  transition: transform 0.2s ease-out;
  &:hover {
    transform: rotate(-3deg);
  }
  &-container {
    position: absolute;
    margin-top: 87px;
    margin-left: 107px;
  }
}
.eye {
  position: relative;
  display: inline-block;
  border-radius: 50%;
  height: 24px;
  width: 24px;
  background: $color-light;
  &:last-child {
    margin-left: 23px;
    top: -2px;
  }
  &:after {
    position: absolute;
    bottom: 14px;
    right: 5px;
    width: 10px;
    height: 10px;
    background: $color-dark;
    border-radius: 50%;
    content: " ";
  }
}


// Laser background

.vaporwave {
  display: none;
  width: 100%;
  height: 100%;
  background: #0f1a54;
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: 0;
  animation-name: moveBackground;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes moveBackground{
  0%   { width: 100%; background: #0f1a54 }
  50% { width: 110%; background: #451554 }
  100% { width: 100%; background: #0f1a54 }
}

.vaporwave:after {
  -webkit-mask-image: -webkit-gradient(linear, left 90%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  mask-image: gradient(linear, left 90%, left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
  transform: perspective(400px) rotateX(40deg) scale(2,1) translateZ(0);
  content: ""; display: block; position: absolute; bottom: 0; left: 0; right: 0; width: 100%; height: 100vh;
  padding: 1px;
  -webkit-background-clip: content-box;
  -webkit-backface-visibility: hidden;
  outline: 1px solid transparent;
  transform-origin: bottom center;
  will-change: transform;
  background-position: center bottom;
  background-size: 40px 40px;
  background-image:
          linear-gradient(to right, #ef00ff 2px, transparent 2px),
          linear-gradient(to bottom, #ef00ff 1px, transparent 2px);
}


// Spinny sphere container
.sphere-container {
  margin: 0 auto;
  width: 500px;
}